body {
  margin:0;
  padding:0;
  background: #000;
}
main {
  margin: 0 1em;
}
header {
  background: #ccc;
  color: #444;
  text-align: center;
}
h1 {
  font-size: 2.0em;
  text-align: center;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 1.5em;
}
h2 {
  font-size: 1.5em;
}
/*main {
  max-width: 1000px;
  margin: 0 auto;
  background: #eee;
  text-align: center;
  padding: 2px;
}*/
section {
  font-size: 1em;
  background: #888;
  width: 45%;
  margin: 1em 1% 1em 1%;
  display: inline-block;
}
section:hover {
  background: #666;
}


/* FIRST BREAKPOINT (MOBILE SIZE) */
@media screen and (min-width: 400px)
{
body
{
  margin:0;
  padding:0;
  background: #F00;
}
header {
  background: #ccc;
  color: #444;
  text-align: center;
}
h1 {
  font-size: 2.0em;
  text-align: center;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 1.5em;
}
h2 {
  font-size: 1.5em;
}
/*main {
  max-width: 1000px;
  margin: 0 auto;
  background: #eee;
  text-align: center;
  padding: 2px;
}*/
section {
  font-size: 1em;
  background: #888;
  width: 45%;
  margin: 1em 1% 1em 1%;
  display: inline-block;
}
section:hover {
  background: #666;
}


  /*
    - applies to screens larger than 499px (unless specifically overwritten these styles will also apply to screens larger than 999px)
    - add any hover states here
    - increase font sizes
    - add margins and padding to space things out
    - decrease width of sections
    - add `display: inline-block;` so that sections will float next to each other
  */
}
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 800px) {

body {
  margin:0;
  padding:0;
  background: #0F0;
}
header {
  background: #ccc;
  color: #444;
  text-align: center;
}
h1 {
  font-size: 3.5em;
  margin: 0;
  padding: 1em;
}
h2 {
  font-size: 2.0em;
}
/*main {
  max-width: 1000px;
  margin: 0 auto;
  background: #eee;
  text-align: center;
  padding: 2px;
}*/
section {
  font-size: 1.25em;
  background: #888;
  width: 22%;
  margin: 1em 1% 1em 1%;
  display: inline-block;
}
section:hover {
  background: #666;
}


  /*
    - applies to screens larger than 999px only
    - add a max-width to your main section
    - further decrease size of sections
    - increase size of headings and global fonts
  */
}
/* END SECOND BREAKPOINT */

/* THIRD BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1200px) {

body
{
  margin:0;
  padding:0;
  background: #0FF;
}
.image_gallery
{width:80%;
margin:0 auto;
}
header
{
  background: #ccc;
  color: #444;
  text-align: center;
}
h1
{
  font-size: 3.5em;
  margin: 0;
  padding: 1em;
}
h2
{
  font-size: 2.0em;
}

section
{
  font-size: 1.25em;
  background: #888;
  width: 22%;
  margin: 1em 1% 1em 1%;
  display: inline-block;
}
section:hover
{
  background: #666;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box:nth-child(even) {
  background-color: #ccc;
  color: #000;
}

    .wrapper
    {
        width: 600px;
        display: grid;
    grid-gap: 10px;
        grid-template-columns: repeat(4, 100px);
    }

}
/*Close of largest screen setting*/
